.popup__button {
  width: 358px;
  height: 50px;
  background: #000;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  margin: 14px auto 37px auto;
  transition: opacity 0.3s ease;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 536px) {
  .popup__button {
    max-width: 238px;
    height: 46px;
    margin: 16px auto 25px 22px;
    font-size: 14px;
    line-height: 17px;
  }
}
