.profile__profession {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  padding-top: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 709px) {
  .profile__profession {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    padding-left: 16px;
    text-align: left;
  }
}
