.popup__form {
  width: 430px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 54px 0 0 0;
  border: 0 none;
}

@media screen and (max-width: 536px) {
  .popup__form {
    width: 238px;
    padding: 25px 0 0 0;
    margin: 0;
  }
}
