.header {
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 0 37px 0;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    padding: 28px 0 28px 0;
  }
}
